<section class="column is-3">
    <div class="w-fit m-auto">
        <!-- <img src="https://fakeimg.pl/100x100/" class="avatar my-5"> -->
        <div class="avatar my-5">
            <!-- <%= avatar(current_user, 100)%> -->
            <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar.variant(resize_to_fill: [100, 100]), class: 'avatar' %>
            <% else %>
                <i class="fa-solid fa-circle-user text-white text-8xl"></i>
            <% end %>
        </div>
    </div>

    <!-- 有卡稱 顯示卡稱+ID，沒卡稱 就只顯示ID -->
    <% if current_user.cardname != nil %>
        <p class="text-white text-2xl font-semibold text-center mb-1"><%= link_to current_user.cardname, user_page_path(current_user.username) %></p>
        <p class="text-gray-400 text-center mb-4">@<%= link_to current_user.username, user_page_path(current_user.username)%></p>
    <% else %>
        <p class="text-white text-2xl font-semibold text-center mb-4">@<%= link_to current_user.username, user_page_path(current_user.username)%></p>
    <% end %>

    <div class="w-fit mx-auto">
        <%= link_to '#' do %>
            <i class="fa-solid fa-bookmark text-sky-600 text-xl ml-0.5 mr-2.5 mb-3"></i>
            <span class="text-white">我的收藏</span>
        <% end %><br>
        <%= link_to '#' do %>
            <i class="fa-solid fa-heart text-rose-500 text-xl mr-1.5 mb-3"></i>
            <span class="text-white">我追蹤的卡稱</span>
        <% end %><br>
        <%= link_to posts_path do %>
            <i class="fa-solid fa-square-pen text-sky-600 text-xl mr-2 mb-3"></i>
            <span class="text-white">我的文章</span>
        <% end %><br>
        <%= link_to edit_user_registration_path  do %>
            <i class="fa-solid fa-gear text-white text-xl mr-1.5 mb-3 "></i>
            <span class="text-white">我的個人資料</span>
        <% end %>
    </div>
</section>