<!-- 已發佈文章列表 -->
    <hr class="h-px my-5 bg-gray-200 border-0 dark:bg-gray-700">
    <% if @posts.count == 0 %> <!-- 若整個論壇 已發佈 文章數量 為0的話 -->
        <div class="text-center my-28">
            <p class="text-xl">這個論壇還沒有任何人發佈文章，趕快來寫第一篇吧!</p>
            <%= link_to '建立文章', new_post_path, class:'button bgc-light-blue text-white mt-4' %>
        </div>
    <% else %> <!-- 若整個論壇 已發佈 文章數量 不為0的話 -->
        <% @posts.each do |post| %>
            <div class="media">
                <figure class="media-left mr-2">
                    <!-- <img src="https://fakeimg.pl/25x25/" class="avatar"> -->
                    <!-- 有上傳頭貼 顯示上傳的頭貼，沒頭貼 顯示灰頭 -->
                    <% if post.user.avatar.attached? %>
                        <%= image_tag post.user.avatar.variant(resize_to_fill: [25, 25]), class: 'avatar' %>
                    <% else %>
                        <i class="fa-solid fa-circle-user text-gray-500 text-2xl"></i>
                    <% end %>
                </figure>
                <div class="media-content">
                    <!-- ID -->
                    <span class="text-gray-500">@<%= link_to post.user.username, user_page_path(post.user.username) %></span>
                    <!-- 點擊 ID或卡稱 進入 單一使用者文章列表 -->

                    <!-- 有卡稱 顯示卡稱，沒卡稱 就不顯示 -->
                    <span>
                        <% if post.user.cardname !=nil %>
                            <span class="text-gray-500">・<%= link_to post.user.cardname, user_page_path(post.user.username) %></span>
                        <% else %>
                        <% end %>
                    </span>
                    <span class="text-gray-500">・<%= time_ago_in_words(post.created_at) %></span>
                </div>
            </div>

            <!-- 有上傳封面照片就顯示 照片和內文，沒上傳就只顯示內文 -->
            <% if post.cover_image.attached? %>
                <div class="columns">
                    <div class="column is-10">
                        <span class="text-xl font-bold pb-6"><%= link_to post.title, post_page_path(post.user.username, post) %></span>
                        <!-- 點擊文章標題 進入單篇文章頁面 -->
                        <p><%= strip_tags(post.content).truncate(70) %></p>
                        <!-- strip_tags 拔掉html標籤 truncate截短文字 -->
                    </div>
                    <div class="column is-2">
                        <!-- <img src="https://fakeimg.pl/150/" class="rounded-xl"> -->
                        <%= image_tag post.cover_image.variant(resize_to_fill: [150, 150]), class:'rounded-xl' %>
                        <!-- 將影像縮放至填滿指定尺寸，同時保留原始長寬比。必要時，將在較大的尺寸上裁剪影像。 -->
                    </div>
                </div>
            <% else %>
                <span class="text-xl font-bold pb-6"><%= link_to post.title, post_page_path(post.user.username, post) %></span>
                <p><%= strip_tags(post.content).truncate(70) %></p>
            <% end %>



            <div class="mt-2.5 mb-2">
                <i class="fa-brands fa-gratipay text-rose-400 mr-0.5"></i>
                <span class="text-gray-400 mr-4"><%= post.love %></span>
                <i class="fa-solid fa-comment text-gray-400 mr-0.5"></i>
                <span class="text-gray-400 mr-4"><%= post.comments.count %></span>
                <i class="fa-solid fa-bookmark text-sky-500 mr-0.5"></i>
                <span class="text-gray-400 mr-4"><%= post.bookmarks.count %></span>
            </div>
            <hr class="h-px my-5 bg-gray-200 border-0 dark:bg-gray-700">
        <% end %>
    <% end %>