<nav class="navbar is-link" role="navigation" aria-label="main navigation">
<!-- bulma藍底白字導覽列 再用自己寫的css蓋掉黑色底色 -->
    <div class="navbar-brand bgc-medium-blue">
    <%= link_to root_path, class: "navbar-item" do%> <!-- logo連結連回首頁 -->
      <h1 class="text-2xl font-mono font-bold text-white mr-5">Bcard</h1>
    <% end %>
  
      <!-- 漢堡選單 -->
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu bgc-medium-blue">
      <div class="navbar-start">

        <div class="control">
            <input class="input mt-3 w-96" type="text" placeholder="搜尋 熱門文章">
        </div>
        <div class="control">
            <button class="button is-medium mt-3 border-1 border-blue-800 text-white bgc-medium-blue ">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if user_signed_in? %> <!-- 有登入的話 -->
              <!-- 新增文章 筆（點了會進 新增文章表單頁面） -->
              <%=link_to "#" do %>
                <i class="fa-solid fa-pen text-white text-xl mr-4"></i>
              <% end %>
              
              <!-- 個人資訊小人(點了會進個人資料首頁 我的收藏文章) -->
              <%=link_to "#" do %>
                <i class="fa-solid fa-user text-white text-xl"></i>
              <% end %>
              <!-- 個人資料的子頁面再放修改個人資料按鈕 edit_user_registration -->

              
              <div class="navbar-item has-dropdown is-hoverable is-dark">
                <a class="navbar-link">
                  <!-- <i class="fa-solid fa-caret-down text-white mr-3"></i> -->
                </a>
        
                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    服務條款
                  </a>
                  <a class="navbar-item">
                    幫助中心
                  </a>
                  <a class="navbar-item">
                    聯繫我們
                  </a>
                  <!-- <hr class="navbar-divider"> -->
                  <a class="navbar-item">
                    品牌識別
                  </a>
                  <a class="navbar-item">
                    徵才
                  </a>
                  <a class="navbar-item">
                    商業合作
                  </a>
                  <a class="navbar-item">
                    免費下載 App
                  </a>
                </div>
              </div>
          

              <%=link_to "登出", destroy_user_session_path, class: 'button is-info mt-1 text-white bgc-light-blue', data: {turbo_method: :delete, turbo_confirm: "確定登出？"} %>
            </div>
            <% else %> <!-- 沒登入的話 -->

              <%=link_to "註冊", new_user_registration_path, class: 'button is-info mt-1 text-white bgc-light-blue' %>
              <%=link_to "登入", new_user_session_path, class: 'button is-info mt-1 text-white bgc-light-blue' %>
              
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>