<section class="column is-3">
    <div class="w-fit m-auto">
        <img src="https://fakeimg.pl/100x100/" class="avatar my-5">
    </div>
    <p class="text-white text-2xl font-semibold text-center mb-5"><%= current_user.cardname %></p>
    <div class="w-fit mx-auto">
        <%= link_to '#' do %>
            <i class="fa-solid fa-bookmark text-sky-600 text-xl ml-0.5 mr-2.5 mb-3"></i>
            <span class="text-white">我的收藏</span>
        <% end %><br>
        <%= link_to '#' do %>
            <i class="fa-solid fa-heart text-rose-500 text-xl mr-1.5 mb-3"></i>
            <span class="text-white">我追蹤的卡稱</span>
        <% end %><br>
        <%= link_to posts_path do %>
            <i class="fa-solid fa-square-pen text-sky-600 text-xl mr-2 mb-3"></i>
            <span class="text-white">我的文章</span>
        <% end %><br>
        <%= link_to edit_user_registration_path  do %>
            <i class="fa-solid fa-gear text-white text-xl mr-1.5 mb-3 "></i>
            <span class="text-white">我的個人資料</span>
        <% end %>
    </div>
</section>