<!-- 所有留言區 -->
<article class="comment">
    <hr class="h-px my-3 bg-gray-200 border-0 dark:bg-gray-700">
    <section class="columns">
        <section class="column is-10">
            <article class="media">
                <figure class="media-left">
                    <!-- 有上傳頭貼 顯示上傳的頭貼，沒頭貼 顯示灰頭 -->
                    <!-- <img src="https://fakeimg.pl/50x50/" class="avatar"> -->
                    <% if comment.user.avatar.attached? %>
                        <%= image_tag comment.user.avatar.variant(resize_to_fill: [50, 50]), class: 'avatar' %>
                    <% else %>
                        <i class="fa-solid fa-circle-user text-gray-500 text-5xl"></i>
                    <% end %>
                </figure>
                
                <div class="media-content">
                    <!-- 有卡稱 顯示卡稱+ID，沒卡稱 就只顯示ID -->
                    <% if comment.user.cardname != nil %>
                        <%= link_to comment.user.cardname, user_page_path(comment.user.username) %><br>
                        <%= link_to "@#{comment.user.username}", user_page_path(comment.user.username), class:'text-gray-400 text-sm' %>
                    <% else %>
                        <%= link_to user_page_path(comment.user.username) do %>
                            <div class="text-gray-600 pt-2.5">@<%= comment.user.username %></div>
                        <% end %>
                    <% end %>                                
                </div>
            </article>
        </section>
        <!-- 自己的留言才顯示 編輯、刪除 -->
        <% if comment.user == current_user %>
            <section class="column is-2 text-right mt-2">
                <%= link_to edit_post_comment_path(comment.post, comment) do %>
                <!-- edit_post_comment GET    /posts/:post_id/comments/:id/edit(.:format)         comments#edit -->
                    <i class="fa-solid fa-pen mr-2 text-gray-400"></i>
                <% end %>
                <%= link_to post_comment_path(comment.post, comment), data: {turbo_method: :delete, turbo_confirm: "確定刪除此留言？"}  do %>
                <!-- post_comment      DELETE /posts/:post_id/comments/:id(.:format)              comments#destroy -->
                    <i class="fa-solid fa-trash-can text-gray-400"></i>
                <% end %>
            </section>
        <% else %>
        <% end %>
    </section>

    <div class="ml-16">
        <article class="mb-7">
            <p><%= simple_format(comment.content, class: 'description') %></p>
        </article>
        <p class="text-gray-400 text-sm mb-1.5"><%= comment.created_at.strftime("%Y年%m月%d日 %I:%M") %></p>
    </div>
</article>
