<!-- 創作者排行榜 -->
<div class="bgc-dark-blue min-h-screen">
    <section class="columns max-w-7xl mx-auto">

        <!-- 左側欄位 -->
        <%= render 'pages/shared/pages-left' %>

        <!-- 中間欄位-創作者列表 -->
        <section class="column is-7 bg-white my-4 rounded p-14">
            <h1 class="text-2xl font-semibold">創作者列表</h1>
            <hr class="h-px my-5 bg-gray-200 border-0 dark:bg-gray-700">
            <% if User.count == 0 %> <!-- 若論壇 用戶數量 為0的話 -->
                <div class="text-center my-28">
                    <p class="text-xl">這個論壇還沒有任何使用者，趕快來成為第一個會員吧!</p>
                    <%= link_to '註冊', new_user_registration_path, class:'button bgc-light-blue text-white mt-4' %>
                </div>
            <% else %> <!-- 若論壇 用戶數量 不為0的話 -->
                <% @ranks.each do |user| %>
                    <section class="columns">
                        <section class="column is-1">
                            <!-- <i class="fa-solid fa-crown text-yellow-500 text-xl pt-8"></i> -->
                            <i class="fa-solid fa-pen-nib text-gray-500 text-xl pt-9"></i>
                        </section>
                        <section class="column is-6">
                            <article class="media mt-5">
                                <figure class="media-left">
                                    <!-- 有上傳頭貼 顯示上傳的頭貼，沒頭貼 顯示灰頭 -->
                                    <!-- <img src="https://fakeimg.pl/50x50/" class="avatar"> -->
                                    <% if user.avatar.attached? %>
                                        <%= image_tag user.avatar.variant(resize_to_fill: [50, 50]), class: 'avatar' %>
                                    <% else %>
                                        <i class="fa-solid fa-circle-user text-gray-500 text-5xl"></i>
                                    <% end %>
                                </figure>
                                <div class="media-content">
                                    <!-- 有卡稱 顯示卡稱+ID，沒卡稱 就只顯示ID -->
                                    <% if user.cardname != nil %>
                                        <%= link_to user.cardname, user_page_path(user.username) %><br>
                                        <%= link_to "@#{user.username}", user_page_path(user.username), class:'text-gray-400 text-sm' %>
                                    <% else %>
                                        <%= link_to user_page_path(user.username) do %>
                                            <div class="text-gray-600 pt-2.5">@<%= user.username %></div>
                                        <% end %>
                                    <% end %>                                
                                </div>
                            </article>
                        </section>
                        <section class="column is-5">
                            <div class="text-right">
                                <a href="#" class="button bgc-light-blue text-white mt-5">追蹤</a>
                            </div>
                        </section>
                    </section>
                <% end %>
            <% end %>
        </section>

        <!-- 右側欄位-廣告 -->
        <%= render 'pages/shared/pages-right' %>

    </section>
</div>