<div class="bgc-dark-blue h-screen">
    <div class="max-w-5xl m-auto">
        <section class="columns pt-4">
            <%= render 'shared/profile-left' %>
            <section class="column is-9">
                <div class="bg-neutral-100 rounded-2xl px-12 pt-4 pb-12">
                    <h1 class="text-2xl font-semibold">我的文章</h1>
                    <hr class="border-gray-500">
                    <br>
                    <% @posts.each do |post| %>
                        <p class="text-gray-500 text-sm mb-1.5"><%= post.created_at.strftime("%Y年%m月%d日") %></p>
                        <!-- https://blog.csdn.net/m0_67038390/article/details/124738401 -->
                        <div class="bg-white rounded-xl p-5 mb-5">
                            <section class="columns mb-0">
                                <section class="column is-7">
                                    <article class="media">
                                        <figure class="media-left mr-2">
                                            <img src="https://fakeimg.pl/25x25/" class="avatar">
                                        </figure>
                                        <div class="media-content">
                                            <p class="text-gray-500">自己卡稱</p>
                                        </div>
                                    </article>
                                </section>
                                <section class="column is-5 text-right">
                                    <%= link_to edit_post_path(post) do %>
                                        <i class="fa-solid fa-pen mr-2"></i>
                                    <% end %>
                                    <%= link_to post_path(post), data: {turbo_method: :delete, turbo_confirm: "確定刪除此文章？"}  do %>
                                        <i class="fa-solid fa-trash-can"></i>
                                    <% end %>
                                </section>
                            </section>
                            <span class="text-xl font-bold"><%= post.title %></span>
                            <%= content_tag :span, '已發佈', class: 'tag bgc-light-blue text-white ml-1 mb-1' if post.status == 'published' %>
                            <!--  if post.published? -->
                            <p><%= post.content %></p>
                            <!-- <p>最後編輯時間：<%= time_ago_in_words(post.updated_at) %>前</p> -->
                        </div>

                    <% end %>
                </div>
    
            </section>
        </section>
    </div>
</div>





