<!DOCTYPE html>
<html>
  <head>
    <title>Bcard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- fontawesom cdn（開發用）-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> -->
    <!-- tailwind cdn（開發用） -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- 自己寫的css和js（打包後） -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <!-- 檔案路徑從views後開始寫（在同一個目錄下的話 就直接寫檔名即可） -->
    <%= render 'shared/flash' if notice %>
    <%= yield %>
  </body>
</html>
